#schedule-label{
    margin-top: 0%;
    margin-bottom: 0%;
}

body{
    display: flex;
}
#times{
    margin-top: 0;
    margin-bottom: 0;
}
#per{
    margin-top: 0;
}
#waterSchedule{
    margin-bottom: 0;
    
}